/*  your css code here. If applicable */
#container{
	background-color: #f5f5f5;
	padding: 25px;
}
.box{
	background-color: white;
	padding: 15px;
	border: 2px solid lightgray;
}
.author{
	text-align: right;
	font-style: italic;
}